body {
  /* background-image: url("/static/images/trees.png"); */
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

main {
  margin: 0 4% 0 4%;
}
a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: crimson;
}

section {
  display: flex;
  justify-content: center;
}

fieldset {
  margin: 20px 0 20px 0;
}

nav {
  background-color: rgb(190, 135, 131);
  color: antiquewhite;
  margin-bottom: 30px;
}

img {
  /* background-image: url("./static/images/gifts.png") !important; */
}

.btn {
  font-size: 0.9em;
  height: fit-content;
  width: fit-content;
}

h1,
h5 > nav,
.btn {
  color: rgb(255, 254, 251);
}

.spacer {
  height: 20px;
}

.item-image {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.resizable {
  height: 400px;
  max-width: auto;
  min-width: 220px;
}

.create-form {
  display: flex;

  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 225, 255);
  border-radius: 20px;
  padding: 20px;
  min-width: 40%;
}

#greeting {
  font-size: 4em;
  line-height: 95%;
}

#message {
  font-size: 1.4em;
}

#your-wishlists {
  margin-bottom: 4.4vw;
}

#list {
  background-color: rgba(190, 135, 131, 0.685);
  border-radius: 20px;
  padding: 40px;
  margin: 0 7% 0 7%;
}

#divider-1 {
  margin-top: 1.7vw;
  margin-bottom: 3.5vw;
  width: 400px;
  height: auto;
}

#gifts {
  margin-top: 4.2vw;
  margin-bottom: 0.7vw;
  width: 100px;
  height: auto;
}
