body {
  /* background-image: url("/static/images/trees.png"); */
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
}

nav {
  background-color: rgb(190, 135, 131);
  color: antiquewhite;
  margin-bottom: 2.7vw;
}

main {
  margin: 0 4% 4% 4%;
}

footer {
  height: 100px;
  margin-top: auto;
}

main .btn {
  font-size: 0.8em;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 3px 5px 3px 5px;
  margin-bottom: 1vw;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: crimson;
}

fieldset {
  margin: 20px auto 20px auto;
}

input {
  width: fit-content;
}
img {
  /* background-image: url("./static/images/gifts.png") !important; */
}

h1,
h5 > nav,
.btn {
  color: rgb(255, 254, 251);
}

form {
  margin-top: 3vh;
  background-color: rgba(148, 180, 206, 0.678);
  padding: 30px 50px 30px 50px;
  border-radius: 6px;
  width: 450px;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .spacer {
  height: 20px;
} */

.flashes {
  margin: -1% auto 0.7% auto;
  background-color: rgba(148, 180, 206, 0.678);
  width: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
  font-family: "Alatsi", sans-serif;
  font-size: 1em;
  color: white;
}

.item-image {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.important-button {
  font-size: 1.9em;
  padding: 5px 7px 5px 7px;
}

#greeting {
  font-size: 4em;
  line-height: 97%;
  margin-bottom: 2vh;
}

#message {
  font-size: 1.1em;
  margin-bottom: 0vw;
}

#your-wishlists {
  font-size: 2.5em;
  margin-top: 1vw;
}

#wishlist {
  /* background-color: rgba(190, 135, 131, 0.685); */
  border-radius: 20px;
  /* padding: 40px; */
  margin: 0 7% 0 7%;
  display: flex;
  flex-direction: column;
}

#divider {
  margin-bottom: 4vw;
  width: 100px;
  height: auto;
}

.wishlist-header {
  margin-bottom: 7.5vh;
}

.resizable {
  max-height: 25vw;
  min-height: 30vh;
  width: auto;
}

.resizable2 {
  max-width: 35vw;
  min-width: 40vh;
  height: auto;
  margin: 5vh;
  align-self: center;
}

#gifts {
  margin-top: 2vw;
  margin-bottom: 0.7vw;
  width: 100px;
  height: auto;
}

#item-title {
  font-size: 1.5em;
}

.wishlist-title {
  font-size: 3em;
  text-align: center;
  margin: 10px;
}

#plus {
  height: fit-content;
}

p,
small,
h1,
label,
button,
h4,
h5,
a,
#flashes {
  /* font-family: "Concert One", cursive; */
  /* font-family: "Gochi Hand", cursive; */
  /* font-family: "Sarabun", sans-serif; */
  font-family: "Alatsi", sans-serif;
}

h2 {
  /* font-family: "Patrick Hand", cursive; */
  /* font-family: "ZCOOL QingKe HuangYou", cursive; */
  /* font-family: "Rum Raisin", sans-serif; */
  font-family: "Courgette", cursive;
}
