{% extends 'base.html' %} {% block content %}
<section>
  <div class="form">
    <div>
      <form action="/wishlists/{{ wishlist_id }}/add-item" method="POST" class="create-form">
        <h2>Add a New Item</h2>
        <input type="hidden" value="{{ wishlist_id }}" name="wishlist_id" />
        {% include 'partials/item_form.html' %}

        <div class="form-group form-btn">
          <button class="btn btn-primary" type="submit">Add Item</button>
        </div>
      </form>
    </div>
    <img class="resizable2" src="/static/images/macy-present.png" />
  </div>
</section>
{% endblock %}
