{% extends 'base.html' %} {% block content %}
<section>
  <div class="mt-3 d-flex flex-wrap flex-row justify-content-around align-items-center">
    <div class="d-flex flex-column text-center justify-content-center mb-5">
      <div>
        <p class="" id="greeting">what do you<br />wish for?</p>
        <img id="gifts" src="./static/images/gifts.png" />
      </div>
      <small id="message"
        >Make it easy for your loved ones. <br />Have all your lists in one place.</small
      >
    </div>
    <div>
      <img class="resizable mx-3 mb-3 mt-4" src="./static/images/macy-window.png" />
    </div>
    {% endblock %}
  </div>
</section>
