{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-row align-items-center my-5">
  <div class="d-flex flex-column mx-auto">
    <div class="d-flex flex-row align-items-center">
      <h2>{{ wishlist.title }}</h2>
      <a
        href="/wishlists/{{wishlist._id}}/edit"
        class="mx-1 btn btn-default navbar-btn bg-info d-flex ml-3"
        >Edit</a
      >
      <a
        href="/wishlists/{{wishlist._id}}/delete"
        class="mx-1 btn btn-default navbar-btn bg-danger h-auto d-flex align-items-center"
        >Delete Wishlist</a
      >
    </div>
    <p>{{ wishlist.description }}</p>
  </div>
  <a
    href="/wishlists/{{wishlist._id}}/add-item"
    class="btn btn-default navbar-btn bg-primary d-flex mx-auto align-items-center"
    >Add Item</a
  >
</div>

<div class="p-5" id="list">
  {% for item in items %}
  <div class="d-flex flex-row">
    <div class="d-flex flex-column justify-content-start">
      <div class="d-flex flex-row">
        <a href="{{ item.link }}">
          <h2 id="item-title">{{ item.title }}</h2>
        </a>

        <div class="d-flex flex-row ml-4">
          <a
            href="/wishlists/{{item._id}}/edit-item"
            class="mx-1 btn btn-default navbar-btn bg-info"
            >Edit</a
          >
          <form method="POST" action="/wishlists/{{item._id}}/delete">
            <button class="mx-1 btn btn-default navbar-btn bg-danger">Remove</button>
          </form>
        </div>
      </div>

      <div class="d-flex flex-row">
        <p>{{ item.comment }}</p>
      </div>
    </div>
    <div class="d-flex ml-auto">
      <div class="">
        <img src="{{ item.img_address }}" height="200" class="item-image" />
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
