{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-row justify-content-around align-items-center my-5">
  <div class="d-flex flex-column">
    <h2>{{ wishlist.title }}</h2>
    <p>{{ wishlist.description }}</p>
  </div>
  <a
    href="/wishlists/{{wishlist._id}}/add-item"
    class="btn btn-default navbar-btn bg-primary h-auto d-flex align-items-center"
    >Add Item</a
  >
  <a
    href="/wishlists/{{wishlist._id}}/delete"
    class="btn btn-default navbar-btn bg-primary h-auto d-flex align-items-center"
    >Delete Wishlist</a
  >
</div>
<a
  href="/wishlists/{{wishlist._id}}/edit"
  class="btn btn-default navbar-btn bg-primary h-auto d-flex align-items-center"
  >Edit</a
>

<div id="list">
  {% for item in items %}
  <a class="d-flex align-items-center justify-content-between" href="{{ item.link }}">
    <div>
      <div>
        <h2>{{ item.title }}</h2>
      </div>
      <div>
        <p>{{ item.comment }}</p>
      </div>
    </div>
    <a
      href="/wishlists/{{item._id}}/edit-item"
      class="btn btn-default navbar-btn bg-primary h-auto d-flex align-items-center"
      >Edit</a
    >
    <form method="POST" action="/wishlists/{{item._id}}/delete">
      <button class="btn btn-default navbar-btn bg-primary">Remove</button>
    </form>
    <div>
      <img src="{{ item.img_address }}" height="200" class="item-image" />
    </div>
  </a>

  {% endfor %}
</div>
{% endblock %}
