{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-row flex-wrap justify-content-around">
  <div class="d-flex flex-column">
    <div>
      <h2 id="your-wishlists">Your Wishlists</h2>
    </div>
  </div>
  <img src="./static/images/macy-mailbox.png" class="resizable mt-4" />
</div>
<div class="spacer"></div>
{% for wishlist in lists %}
<div class="text-dark">
  <h2><a href="/wishlists/{{ wishlist._id }}">{{ wishlist.title }}</a></h2>
  <small>{{ wishlist.description }}</small>
</div>
{% endfor %} {% endblock %} 
</div>
